The FrozenLake environment is a 2D 4x4 grid world (4 rows, 4 columns) where the agent can move left, down, right, or up. 
The state is between 0 and 15, representing the which grid the agent is in. The top row is 0 to 3, 2nd row is 4 to 7, 3rd row is 8 to 11, bottom row is 12 to 15. 
The environment is slippery, which means when the agent takes an action, it will go to 3 directions with equal probability.
- When the agent takes action 0, it will pick from [move down, move left, move up] with equal probability.
- When the agent takes action 1, it will pick from [move right, move down, move left] with equal probability.
- When the agent takes action 2, it will pick from [move up, move right, move down] with equal probability.
- When the agent takes action 3, it will pick from [move left, move up, move right] with equal probability.
The goal is to reach the state 15 (the right bottom grid), which will yield a +1 reward. All other states yield a reward of 0. However, there are some holes in the map that will end the game once the agent step onto it. You need to explore through it by reading history trajectories.
The policy is a function that maps the state to the action to take. The policy is represented by an array of 16 numbers. The value of params[i] represents the action to take when the state is i. The value of params[0] means which action to take when the agent is on the top left grid (0, 0). The value of params[1] means which action to take when the agent is on the top second grid (0, 1). So on and so forth. The agent should locate the wholes via previous explored trajectiores and pick actions that do not have possibility of falling into the wholes.

The optimal policy would follow the following behavior: The agent should always move towards the opposite direction of the holes. Due to it being slippery, this would be the only way to avoid falling into the holes.